mipsel-openwrt-linux/snap7nfc
mipsel-openwrt-linux/pn532.o
mipsel-openwrt-linux/snap7.o
mipsel-openwrt-linux/nfc.o
mipsel-openwrt-linux/CardReader.o
i386-amd64-linux/s7simulator
i386-amd64-linux/server.o
i386-amd64-linux/snap7.o
.vscode/launch.json
